.custom-addplayer, .custom-dice, .custom-player-parent {
    width: 100%;
    max-width: 400px;
}

.custom-form .custom-input:focus {
    border-color: #198754; 
    box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
  }

.custom-dice {
    overflow: hidden;
}


.custom-player {
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.custom-player-child {
    flex: 1 1 45%;
    max-width: 45%;
}

.big-dice {
    font-size: 1580px !important;
  }